@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="file"] {
    display: none;
}

.input-file-wrapper {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 2rem;
    background: #EAB308;
    color: white;
}

.input-file-wrapper:hover {
    background: #FDE047;
}